<!DOCTYPE html>
<html lang="en">

<head>
  {{>head}}
</head>

<body>
    {{>navbar}}


    <!-- main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="./images/4.png" style="height: 400px; width: 300px;" class="img-fluid" alt="">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to WeatherInfo</p>
                        <h1>This Website is built using HTML, CSS, Js,<span class="text_color"> Node.Js, Express.Js</span></h1>
                        <a href="/"><button>About Me</button></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
            
</body>

</html>